*{
    text-decoration: none;
	list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(10,2,3,0.4), #89CFF0), url('img/first.jpg');
    background-position: center;
    background-size: cover;
}
form{
    width: 140%;
    max-width: 650px;
}
.title{
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 4%;
    color: #ffffff;
}
.inputs{
    margin-bottom: 25px;
    position: relative;
}
input, textarea{
    color: #fff;
    background: transparent;
    font-size: 17px;
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 1px #fff solid;
}
label{
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    color: aliceblue;
    transition: 0.2s;
}
button{
    padding: 10px;
    color: rgb(255, 255, 255);
    outline: none;
    background: transparent;
    width: 100%;
    border: 1px solid #ffffff;
}
input:focus~label{
    top:-13px;
    font-size: 14px;
}

footer{
	position:relative;
	width: 100%;
	height: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: black;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: black;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  black;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:black;
	bottom: 35px;
	font-size: 14px; 
}


footer{
	position: relative;
	width: 100%;
	height: 300px;
	background-image: linear-gradient(rgb(59, 40, 164), rgb(18, 9, 33));	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #8684ff;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: relative;
	color:#8684ff;
	bottom: 35px;
	font-size: 14px; 
}

